/* Loading Custom Font */

body {
	font-family:'Conv_Raleway-VariableFont_wght',Sans-Serif;
	line-height: 1.4;
}

.navbar-brand {
	padding: 0;
}

/* Logo Positioning */

.logo {
	height: 3.9em;
	position: absolute;
	top: 0.2em;
}

/* Navigation Styling */
.nav-link {
	position: relative;
    display: inline-block;
	font-weight: 700;
	font-size: 13px;
    text-transform: uppercase;
	letter-spacing: 0.1em;
}

.nav-link::after {
    content: "";
    background: #dc307c;
    height: 2px;
    position: absolute;
    bottom: 0;
    transition: .25s all 0.025s;
  }

  .nav-link::after {
    left: 100%;
    right: 0;
  }

  .nav-link:hover ~ .nav-link::after {
    left: 0;
    right: 100%;
  }
  
  .nav-link:hover::after {
    left: 0;
    right: 0;
	
  }

.nav-item {
	padding: 0px 21px;
}


/* Custom Media Query */
@media (max-width: 576px) {
	.nav-item {
		text-align: center;
	}
}